/*
    CONTACT
*/

.contact-info {
    font-weight: 700;
    margin-bottom: 2rem;
    
    p.tel {
        a {
            color: $dark-gray;
        }
        
        a:hover {
            color: $secondary-color;
        }
    }
    
    @include breakpoint(large) {
        p {
            font-size: 1.25rem;
        }
    }
}