/*
    PACKAGES
*/

section#destinations {
    @include breakpoint(medium down) {
        padding-top: 0;
    }
}

.destinations-grid {
    
    .destination-item {
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
        
        margin-bottom: 1.5rem;
    }
    
    .overlay {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        .inner {
            position: relative;
            height: 100%;
            padding: 1.5rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            color: white;
            text-align: center;
            
            h3 {
                font-size: 1.5rem;
                margin: 0;
                //margin-bottom: .4em;
                line-height: 1;
                color: white
            }
            
            .button {
                margin: 0;
            }
        }
    }
    
    .img-wrapper {
        position: relative;
        height: 0;
        padding-bottom: 65%;
        
        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .3s ease-out;
            
            img {
                @include img-cover;
            }
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
            background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4) 60%, rgba(0,0,0,1) 100%);
        }
    }
    
    
    @include breakpoint(medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -.875rem 1rem;
        
        .destination-item {
            width: calc(33.33333333% - 1.75rem);
            margin: .875rem;
            
            .overlay {

                .inner {

                    h3 {
                    //    font-size: 1rem;
                    }

                }
            }
        }
    }
    
    @include breakpoint(large) {
        
        .destination-item {
            width: calc(25% - 1.75rem);
            
            &:hover {
                .img-wrapper {
                    .img {
                        transform: scale(1.2);
                    }
                }
            }
            
            .overlay { 

                .inner {
                    padding: 1.5rem;

                    h3 {
                        font-size: 1.5rem;
                    }

                }
            }
        }
    }
}
