/*
    NEWSLETTER
*/

section#newsletter {
    padding-top: 0;
    
    @include breakpoint(large) {
        
        padding: 1rem 0 3.5rem;
    }
}

.news {
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background: $primary-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .nl-title {
        display: flex;
        margin-bottom: 2rem;
        font-size: 1.125rem;
        
        
        i {
            font-size: 2.5rem;
            margin-right: 1rem;
        }
        
        span {
            display: inline-block;
            line-height: 1.2;
        }
    }
    
    .nl-form {
        width: 100%;
        text-align: center;
        
        form {
            .response {
                width: 100%;
                font-size: .875em;
                padding-top: .5em;
            }
        }
        .button {
            margin: 0;
        }
    }
    
    @include breakpoint(medium) {
        flex-direction: row;
        justify-content: space-between;    
        
        .nl-title {
            margin-bottom: 0;
            font-size: 1.25rem;
            margin-right: 1.5rem;

            i {
                font-size: 2.875rem;
            }
        }
        
        .nl-form {
            width: auto;
            
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;    
                align-items: center;
                
                input {
                    flex: 1;
                    width: auto;
                    margin: 0;
                    margin-right: 1rem;
                }
                
                .response {
                    text-align: right;
                    padding-right: .5rem;
                }
            }
        }
    }
    
    @include breakpoint(large) {
        padding: 2rem 3rem; 
        border-radius: 10rem;
        
        .nl-form {
            form {
                min-width: rem-calc(420);
            }
        }
    }
}