/*
    PACKAGES
*/

.packages-grid {
    
    .package-item {
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
        
        margin-bottom: 1.5rem;
    }
    
    .overlay {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        .inner {
            position: relative;
            height: 100%;
            padding: 1.5rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: white;
            text-align: center;
            
            h3 {
                font-size: 1.75rem;
                margin-bottom: .4em;
                line-height: 1;
            }
            
            p.price {
                flex: 1;
                font-size: 1rem;
                //line-height: 1;
            }
            
            .button {
                margin: 0;
                
                &:hover {
                    background: white;
                    border-color: white;
                    color: $primary-color;
                }
            }
        }
    }
    
    .img-wrapper {
        position: relative;
        height: 0;
        padding-bottom: 100%;
        
        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .3s ease-out;
            
            img {
                @include img-cover;
            }
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
            background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,.4) 32%, rgba(0,0,0,.4) 68%, rgba(0,0,0,1) 100%);
        }
    }
    
    
    @include breakpoint(medium) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -.875rem 1rem;
        
        .package-item {
            width: calc(33.3333333% - 1.75rem);
            margin: .875rem;
            
            .overlay {

                .inner {

                    h3 {
                        font-size: 1.25rem;
                    }

                    p.price {
                        font-size: .875rem;
                    }
                }
            }
        }
    }
    
    @include breakpoint(large) {
        
        &:not(.large) {
            .package-item {
                width: calc(25% - 1.75rem);
                
                .overlay {
                    .inner {
                        padding: 2rem;

                        h3 {
                            font-size: 1.625rem;
                        }

                        p.price {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
        
        &.large {
            .package-item {
                .overlay {
                    .inner {
                        padding: 2rem;

                        h3 {
                            font-size: 2rem;
                        }

                        p.price {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        .package-item {
            
            &:hover {
                .img-wrapper {
                    .img {
                        transform: scale(1.2);
                    }
                }
            }
            
            
        }
    }
}


/*
    PACKAGE DETAILS
*/

body#package-pg {
    
    @include breakpoint(large) {
        background-image: linear-gradient(
            to right, 
            $white calc( 
                (100vw - #{$global-width}) / 2 + 
                (#{$global-width} * .7)), 
            white calc( 
                (100vw - #{$global-width}) / 2 + 
                (#{$global-width} * .7))
        ); 
    }
    
    @include breakpoint(xlarge) {
        background-image: linear-gradient(
            to right, 
            $white calc( 
                (100vw - #{$global-width}) / 2 + 
                (#{$global-width} * .8)), 
            white calc( 
                (100vw - #{$global-width}) / 2 + 
                (#{$global-width} * .8))
        ); 
    }
}

section#package {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
    h1 {
        margin-bottom: .75em;
    }   
    
    h2 {
        margin-bottom: .75em;
    }
    
    .package-form {
        margin-top: 3rem;
        padding-top: 2rem;
        border-top: 1px solid black;
    }
    
    form {
        $small-gutters: map-safe-get($grid-padding-gutters, small);
        @include xy-gutters($small-gutters, padding, left right, true);
        
        textarea {
            border-radius: 1.25rem;
        }
    }
    
    @include breakpoint(medium) {
        padding-top: 3.5rem;
        
        form {
            $medium-gutters: map-safe-get($grid-padding-gutters, medium);
            @include xy-gutters($medium-gutters, padding, left right, true);
        }
    }
    
    @include breakpoint(large) {
        padding-right: 2rem;  
        padding-bottom: 6rem;

        h2 {
            font-size: 2rem;
        }
    }
}

.package-slider-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.4%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    
    .swiper-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        .swiper-slide {
            height: 100%;
            
            img {
                @include img-cover;
            }
        }
    }
    
    .featured {
        position: absolute;
        z-index: 10;
        left: 1rem;
        top: 1rem;
        background: $secondary_color;
        padding: .75rem .875rem;
        border-radius: .75rem;
        color: white;
        
        span {
            display: block;
            
            &.legend {
                font-size: .875rem;
            }

            &.price {
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
    }
    
    @include breakpoint(medium) {
        .featured {
            left: 1rem;
            top: 1rem;
            padding: .75rem .875rem;
            border-radius: .75rem;

            span {

                &.legend {
                    font-size: 1rem;
                }

                &.price {
                    font-size: 1.75rem;
                }
            }
        }
    }
}

.package-description {
    color: $dark-gray;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    ul {
        @include check-list;
    }
}

.package-legals {
    margin-top: 2rem;
    border-top: 1px solid $medium-gray;
    padding-top: 1.25rem;

    font-size: .75rem;
    color: $medium-gray;
}

.more-packages {
    background: white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
    .more-packages-title {
        padding-top: .75rem;
        min-height: 3rem;
        margin-bottom: 2rem;
        
        h4 {
            margin: 0;
            font-size: 2rem;
        }
    }
    
    .packages-grid {
        margin: auto;
        flex-direction: column;
        .package-item {
            margin: 0 auto 1.5rem;
            width: 100%;
        }
    }
    
    @include breakpoint(small only) {
        $small-padding: map-safe-get($grid-container-padding, small);
        margin-left: calc(#{$small-padding} / 2 * -1);
        margin-right: calc(#{$small-padding} / 2 * -1);

        padding-left: calc(#{$small-padding} / 2);
        padding-right: calc(#{$small-padding} / 2);
    }

    @include breakpoint(medium only) {
        $medium-padding: map-safe-get($grid-container-padding, medium);
        margin-left: calc(#{$medium-padding} / 2 * -1);
        margin-right: calc(#{$medium-padding} / 2 * -1);

        padding-left: calc(#{$medium-padding} / 2);
        padding-right: calc(#{$medium-padding} / 2);
        
        .packages-grid {
            flex-direction: row;
            margin: 0 -.875rem 1rem;

            .package-item {
                width: calc(33.3333333% - 1.75rem);
                margin: .875rem;
                
            }
        }
    }
    
    @include breakpoint(medium) {
        padding-top: 3.5rem;
    }
    
    @include breakpoint(large) {
        padding-left: 2rem;
        height: 100%;
    }
}