/*
    FOOTER
*/



footer {
    background: #111;
    padding: 2rem 0;
    color: white;
    position: relative;
    z-index: 1;
    
    a {
        color: white;
        transition: all .3s ease-out;
        
        &:hover {
            color: $secondary-color;
        }
    }
    
    .logo {
        margin-bottom: 2.5rem;
        
        img {
            margin-bottom: .5rem;
        }
        p {
            margin: 0;
            font-size: .75rem;
            color: $medium-gray;
        }
    }
    
    .contact-details {
        max-width: 100%;
        overflow: hidden;
        margin-bottom: 2.5rem;
        flex-wrap: wrap;
        
        li:first-child {
            margin-left: 0;
            width: 100%;
            margin-bottom: 2rem;
        }
        
        li:nth-child(2) {
            margin-left: 0;
        }
        
        a {
            color: white;
            
            i {
            }
            
            &:hover {
                i {color: $secondary-color;}
            }
        }
    }
    
    .block {
        font-size: .875rem;
        margin-bottom: 2rem;
        
        ul {
            list-style: none;
            margin: 0;
            
            li {
                margin-bottom: .75rem;
            }
        }
        
        
        &.destinations {
            ul {
                column-count: 2;
                column-gap: 1.5rem;
            }
            margin-bottom: 1.5rem;
        }
        
        &.other {
            
            a {
                color: $medium-gray;
                
                &:hover {
                    color: $secondary-color;
                }
            }
        }
        
        
    }
    
    @include breakpoint(medium) {
        padding: 3rem 0;
        
        .logo {
            margin-bottom: 3rem;
        }
        
        .contact-details {
            //height: 100%;
            padding-bottom: 1rem;
            align-items: flex-end;
        }
        
        .footer-blocks {
            display: flex;
            justify-content: flex-end;
        }
        
        .block {
            margin-bottom: 0 !important;
            margin-left: 1.5rem;    
            
            &.afip {
                margin-left: 2.5rem;
            }
        }
    }
    
    @include breakpoint(large) {
        padding: 4rem 0;
        
        
    }
    
    @include breakpoint(xlarge) {
        .block {
            margin-left: 3rem;    
            
            &.destinations {
                ul {
                    column-gap: 2rem;
                }
            }
            
            &.afip {
                margin-left: 6rem;
            }
        }  
    }
}


.bottom-bar {
    padding: 1rem 0 3rem;
    background: black;
    text-align: center;
    font-size: .75rem;
    color: $dark-gray;
    position: relative;
    z-index: 1;
    
    a {
        color: $dark-gray;
        
        &:hover {
            color: $secondary-color;
        }
    }
    
    @include breakpoint(medium) {
        padding: 1rem 0;
    }
}
