/*
    GLOBAL
*/

.fw-light { font-weight: 300; }
.fw-regular { font-weight: 400; }
.fw-medium { font-weight: 500; }
.fw-semibold { font-weight: 600; }
.fw-bold { font-weight: 700; }

section {
    padding: 2.5rem 0;

    @include breakpoint(medium) {
        //padding: 2rem 0;
    }
}

h2, h3, h4, h5 {
    
    &.underline {
        padding-bottom: .25em;
        border-bottom: 1px solid $dark-gray;
    }
}

.bold {
    font-weight: bold !important;
}

.button {
    //font-weight: 700;
    border-radius: 50px;
    text-transform: uppercase;
    
    &.secondary,
    &.secondary:hover,
    &.secondary:active{
        color: white;
    }
    
    &.left-icon {
        text-align: left;
        display: inline-flex;
        align-items: center;
        line-height: 1.25;

        i {
            font-size: 1.5em;
            margin-left: 2rem;
        }
    }
}

.mb0 { margin-bottom: 0 !important; }
.mb1 { margin-bottom: 1rem !important; }
.mb2 { margin-bottom: 2rem !important; }
.mb3 { margin-bottom: 3rem !important; }
.mb4 { margin-bottom: 4rem !important; }


.primary-bgr {
    background-color: $primary-color;
    color: white;
}
.secondary-bgr {
    background-color: $secondary-color;
    color: white;
}

.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }


// Accordion and dropdown menus arrow
.dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a::after,
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
    display: block;
    width: auto;
    height: auto;
    border: 0 !important;
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    right: 0;

    content: '\f078';
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 1em;
    color: $medium-gray;
}

// Dropdown menu arrow
.dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a::after {
    color: $primary-color;
}

//
@mixin check-list {
    padding: 0;
    margin: 0 0 1rem;
    list-style: none;

    li {
        padding: 0 0 0 1.5em;
        position: relative;

        &:before {
            content: '\f00c';
            position: absolute;
            left: 0;
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            font-size: 1em;
            color: $secondary-color;
        }
    }
}

/**** */

@mixin img-cover {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
}

@mixin img-contain {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: contain;
}

@mixin reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**** */

.hero {
    position: relative;
    height: 10rem;
    
    img {
        @include img-cover;
    }
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-color;
        mix-blend-mode: color;
        opacity: .3;
    }
    
    @include breakpoint(medium) {
        height: 15rem;   
        margin-bottom: 1rem;
    }
    
    @include breakpoint(large) {
        height: 20rem;   
        margin-bottom: 2rem;
    }
}

.grecaptcha-badge {
    bottom: -200px !important;
}

.info-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
}