/*
    HEADER
*/

// Header brakpoints
$mobile-header-upto: 'medium';
$desktop-header-from: 'large';

// Header padding based on container padding set on settings.scss
$container-small-padding: map-safe-get($grid-container-padding, small);
$header-small-padding: calc(#{$container-small-padding} / 2);
$container-medium-padding: map-safe-get($grid-container-padding, medium);
$header-medium-padding: calc(#{$container-medium-padding} / 2);

/***********************/
/*     Prevent FOUC    */
/***********************/
.no-js {
    @include breakpoint($mobile-header-upto down) {
        .top-bar { display: none; }
    }
    @include breakpoint($desktop-header-from) {
        .title-bar { display: none; }
    }
}
.top-bar, .top-bar ul { background: transparent; }


/***********************/
/*    CORE STYLING     */
/***********************/

header {
    position: relative;
    width: 100%;
    z-index: 100;
    
    .header-container {
        left: 0;            
        width: 100%;
        display: flex;
        justify-content: center;
        transition: background .3s ease-out;
       
        .header-inner {
            width: 100%;
            
            .top-logo {
                position: relative;
                z-index: 101;
            }
            
            nav {

                // Mobile menu
                @include breakpoint($mobile-header-upto down) {
                    display: flex;
                    flex-direction: column;
                
                    position: absolute;
                    width: 100vw;
                    //height: 100vh;
                    height: calc(var(--vh, 1vh) * 100);
                    
                    left: 0;
                    top: 0;
                    z-index: 101;
                    overflow: auto;
                    transition: all .3s ease-out;

                    // Init state
                    opacity: 0;
                    visibility: hidden;
                    
                    &.on {
                        opacity: 1;
                        visibility: visible;
                    }
                    
                }
            }
            
            .overlay-menu-logo {
                a {
                    display: block;
                }
                
                @include breakpoint($desktop-header-from) {
                    display: none !important;
                }
            }
        }
    } 
    
    // Header grid-contained
    &[data-width='container'] {
        .header-container {
            .header-inner {
                width: $global-width;
            }
        }
    }
    
    // Header fixed
    &[data-pos='relative'] {
        position: relative;
        background: white;
    }
    
    // Header fixed
    &[data-pos='absolute'] {
        position: absolute;
    }
    
    // Header fixed
    &[data-pos='fixed'] {
        position: fixed;
        top: 0;
        left: 0;
    }
    
    // Header fixed width delay
    &.is-fixed {
        position: fixed;
        //transition: none;
        
        .header-container.moveit {
            position: absolute;
            transform: translateY(-100%);
        }
    }
}

// Show mobile menu
body.show-menu {

    @include breakpoint($mobile-header-upto down) {    
        overflow: hidden;
    }
}

/***********************/
/*   CUSTOM STYLING    */
/***********************/
header {
    
    .header-container {
    
        .header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            
            position: relative;
            background: white;
            // Top and bottom header margins
            //padding: 1rem $header-small-padding;

            @include breakpoint(medium) {
                //padding: 1rem $header-medium-padding;
            }

            .top-logo {
                margin: .75rem $header-small-padding;
            }
            
            nav {
                background: $primary-color;
                // Menu styling
                .main-menu {

                    // General styling
                    li {

                        a {
                            font-size: 1rem;
                            font-weight: 300;
                            color: white;
                            transition: all .3s ease-out;
                            background: transparent;

                            &:hover,
                            &.active { 
                                background: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
        
        // MOBILE OVERLAY WRAPPER
        @include breakpoint($mobile-header-upto down) {
            
            .header-inner {

                .top-logo {
                    max-width: 200px;
                    
                }
                
                nav {
                    padding: 1rem;
                    //background: rgba(255,255,255,1);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .overlay-menu-logo {
                        margin-bottom: 2rem;
                    }
                    
                    .main-menu {
                        li {
                            
                            a {
                                padding: .75rem;
                                //padding-left: 0;
                                //padding-right: 0;

                                &:hover {}
                            }
                        }
                    }
                    
                    .contact-details {
                        margin-top: 2rem;
                        flex-wrap: wrap;
                        justify-content: center;

                        li {
                            justify-content: center;
                            margin: .5rem;
                            
                            &:first-child {
                                width: 100%;
                                text-align: center;
                            }

                            a {
                                color: white;
                                //font-size: 1.0625rem;
                                font-weight: 400;
                                //line-height: 1;

                                i {
                                    //font-size: 1.25rem;
                                    color: white;
                                    //text-align: center;
                                    border: 1px solid $light-gray;
                                    //border-radius: 50%;
                                    //width: 2.4em;
                                    //height: 2.4em;
                                    //line-height: 2.4em;
                                }
                            }
                        }
                    }
                }
                
                
            }
        }
        
        @include breakpoint($desktop-header-from) {
            
            .header-inner {

                .top-logo {
                    margin: 1.5rem $header-medium-padding;
                }
                
                nav {
                    width: 100%;
                    //flex: 0;
                    //background: $primary-color;
                    padding: 0 calc(#{$header-medium-padding} - 1rem);
                    
                    .main-menu {
                        li {
                            
                            a {
                                &:hover {}
                            }
                        }
                    }
                }
                
                .contact-details {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 1.5rem $header-medium-padding;
                    
                    li {
                        justify-content: flex-end;
                        text-align: right;
                    }
                }
            }
        }
    }
    
    // Header becomes fixed
    &.is-fixed {

        .header-container {
            border-bottom: 1px solid #eee;
            background: white;

        }
    }
}

.contact-details {
    display: flex;
    margin: 0;
    list-style: none;
    
    li {
        display: flex;
        align-items: center;
        
        margin: 0 .375rem;
        
        p {
            margin: 0;
        }
        
        a {
            font-size: 1.0625rem;
            font-weight: 700;
            line-height: 1;
            color: $primary-color;
            transition: all .3s ease-out;
            
            i {
                font-weight: 400;
                font-size: 1.25rem;
                text-align: center;
                border: 1px solid $medium-gray;
                border-radius: 50%;
                width: 2.4em;
                height: 2.4em;
                line-height: 2.4em;
            }
            
            &:hover {
                color: $secondary-color;
            }
        }
        
        
    }
}