/*
    NAV
*/


.offcanvas-nav {
    width: 100vw;
    max-width:100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;

    @include breakpoint(medium) {
        max-width: rem-calc(510px);
    }

    .offcanvas-inner {
        width: 100%;
        height: 100%;
        background: $primary-color;
        transform: translate(-100%,0);
        transition: all .7s $easeOut;
        pointer-events: all;

        @include breakpoint(large) {
            padding-left: rem-calc(84);
        }

        * {
            color: white;
        }

        &.visible {
            transform: translate(0,0);
        }

        h1 {
            display: inline-block;
            margin: 1rem;
            width: 230px;

            @include breakpoint(medium) {
                width: auto;
            }
        }

        ul {
            padding: 0 1rem;
        }

        .nav-menu {
            max-width: rem-calc(210);

            li {
                border-bottom: 1px solid white;

                a {
                    padding-left: 0;
                    font-weight: bold;
                    font-size: 1.125rem;
                }
            }

        }
    }

    .offcanvas-close {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        width: 2rem;
        height: 2rem;
        border: 1px solid white;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
    }
}

.drilldown .is-drilldown-submenu-parent>a::after {
    content: '\f054';
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    color: white;
    border: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

.drilldown .js-drilldown-back>a::before {
    content: '\f053';
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    color: white;
    border: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

.drilldown .is-drilldown-submenu {
    transition: all .7s $easeOut;
}

