/*
    GO TO TOP button
    Positioned fixed or absolute depending con scroll position & footer height
*/

footer {
    position: relative;
}
.go-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    visibility: visible;
    opacity: .9;
    transition: all .3s ease-out;

    a {
        font-family: $montserrat;
        font-weight: 500;
        color: $black;

        i {
            background: $medium-gray;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            margin-right: .5rem;
            z-index: 1000;
            border-radius: 50%;
        }
    }

    &.off {
        opacity: 0;
        visibility: hidden;
    }

    &.fixed {
        position: absolute;
        bottom: auto;
        top: -50px;
    }
}