/*
    ISOTOPE
*/

.grid {

    &.gallery {
        margin: 0 1rem;
        
        @include breakpoint(medium) {
            margin: 0 .5rem;
        }
        
        .grid-item {
            width: calc(100% - 1rem);
            margin: 1.25rem .5rem;
            
            @include breakpoint(medium) {
                width: calc(50% - 3rem);
                margin: 1.5rem;
            }
            
            @include breakpoint(large) {
                width: calc(33.33% - 5rem);
                margin: 2.5rem;
            }
        }
    }
    
    &.projects {
        
        .grid-item {
            width: calc(100%);  
            
            @include breakpoint(medium) {
                width: calc(50%);    
            }
            
            @include breakpoint(xxlarge) {
            //    width: calc(33.333%);    
            }
        }
    }

    .grid-item {
        
        img {
            width: 100%
        }
    
        .item-overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,.85);
            
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            
            transition: all .25s ease;
            opacity: 0;
            
            .item-overlay-inner {
                color: $dark-gray;
                text-align: center;
                
                h2 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    margin: 0 0 .5rem;
                }
                
                h3 {
                    font-size: 1rem;
                    font-weight: 400;
                    margin: 0;
                }
            }
            
            &:hover {
                opacity: 1;
            }
        }
    }
}
