/*
    OFF CANVAS
    Customización para mejorar la transición de apertura / cierre
*/

// Pevent FOUC

.no-js .off-canvas {
    display: none;
}

// Offcanvas menu...

// Siempre visible (pero va por debajo del contenido)
.off-canvas.is-closed {
    visibility: visible;
}

// Va por debajo de Offcanvas content (en vez de por arriba)
.off-canvas.is-transition-push {
    z-index: 0;
}

// Se esconde parcialmente (en vez de hacerlo entero)
.position-left {
    //transform: translateX(-50vw);
}

.off-canvas .close-button {
    font-size: 1.5rem;
    top: 1rem;
    color: white;
    outline: none;
    position: absolute;
    right: 1rem;

    &:hover {
        color: white;
    }
}


// Offcanvas content...

.off-canvas-content {
    background: white;    // Para que no se vea el Offcanvas menu por debajo
    position: relative;
    z-index: 1;
}

// Offcanvas overlay
.js-off-canvas-overlay {
    background: rgba(0,0,0,.65);
}

// Move Header & Offcanvas overlay
header,
.js-off-canvas-overlay {
    transition: all .5s ease-out;
}

// Mover para el costado

$offcanvas-small: map-get($offcanvas-sizes, small);
$offcanvas-medium: map-get($offcanvas-sizes, medium);
.off-canvas-is-open {

    header,    // Si header is fixed && está fuera de off-canvas-content
    .js-off-canvas-overlay {
        //transform: translateX(map-get($offcanvas-sizes, small) * -1);
        transform: translateX(calc(-1*#{$offcanvas-small}));

        @include breakpoint(medium) {
            //transform: translateX(map-get($offcanvas-sizes, medium) * -1);
            transform: translateX(calc(-1*#{$offcanvas-medium}));

        }
    }
}


// Offcanvas menu inner contents
.off-canvas-inner {
    padding: 1.5rem;
    
    .offcanvas-logo {
        margin-bottom: 2rem;
    }

    .offcanvas-menu {

        ul.menu {

            li {

                a {
                    font-size: 1rem;
                    font-weight: 400;
                    color: white;
                    padding-left: 0;
                    padding-right: 0;
                    outline: none;
                }
            }
        }
    }
}
