/*
    SCROLLAMA
*/

[data-animate] {
    transition: all 1s ease-out;
    opacity: 1;
    transform: translateY(0);
    
    &[data-effect='fadein'] {
        opacity: 0;
        transform: translateY(150px);
    }
    
    &[data-delay='300'] {
        transition-delay: .3s;    
    }
    
    &[data-delay='600'] {
        transition-delay: .6s;    
    }
    
    &[data-delay='900'] {
        transition-delay: .9s;    
    }
}