/*
    SLIDER
*/

:root {
    --swiper-theme-color: #FFFFFF;
}

.main-slider-wrapper {        // .swiper-container
    
    // Slider size
    width: 100%;
    min-height: 60vw;
    //
    margin: 0 auto 1.5rem;

    @include breakpoint(medium) {
        min-height: auto;
        margin: 0 auto 3rem;
    }

    @include breakpoint(large) {
        height: rem-calc(620);
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            

            .swiper-slide {
                height: auto;
                position: relative;
                box-sizing: border-box;

                display: flex;
//                justify-content: center;
                align-items: center;
                padding: 2.5rem 0 3.5rem;
                
                @include breakpoint(medium) {
                    min-height: rem-calc(420);
                }
                
                @include breakpoint(large) {
                    height: 100%;
                }
                
                .slide-inner {
                    padding: 2rem;
                    border-radius: 0 1rem 1rem 0;
                    background: rgba(9,74,100,.8);
                    color: white;
                    max-width: 90%;
                    
                    // Position, margins & paddings
                    position: relative;
                    z-index: 1;
                   
                    .copete {
                        font-size: .875rem;
                        text-transform: uppercase;
                        margin-bottom: .6em;
                    }
                    
                    h2 {
                        font-size: 1.5rem;
                        margin-bottom: .5em;
                        border-bottom: 1px solid $light-gray;
                        padding-bottom: .5em;
                    }
                    
                    .slide-footer {
                        display: flex;
                        flex-direction: column;
                        
                        
                        span {
                            display: inline-block;
                            margin-bottom: 1rem;
                        }
                        
                        a {
                            margin: 0;    
                        }
                    }
                    
                    @include breakpoint(medium) {
                        
                        max-width: 80%;
                        
                        .copete {
                            font-size: 1rem;
                        }

                        h2 {
                            font-size: 2rem;
                        }

                        .slide-footer {
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            
                            span {
                                font-size: 1.25rem;
                                margin: 0;
                            }

                            a {

                            }
                        }
                    }

                    @include breakpoint(large) {
                        max-width: 70%;
                        .copete {
                            font-size: 1.25rem;
                        }

                        h2 {
                            font-size: 2.5rem;
                        }

                        .slide-footer {

                            span {
                                font-size: 1.5rem;
                            }

                            a {

                            }
                        }
                    }

                }

                .slide-bgr {
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        max-width: none;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    
}

// Nav Pagination
/*
.swiper-pagination-bullet {
    background-color: $light-gray;
    opacity: .5;
    width: 1rem;
    height: 1rem;
    margin: 0 .375rem;

    &.swiper-pagination-bullet-active {
        opacity: 1;
    }
}
*/
.swiper-button-prev,
.swiper-button-next {
    top: auto;
    bottom: 6rem;
    
    @include breakpoint(medium down) {
        display: none;
    }
}

.swiper-button-prev {
    left: 2rem;
}

.swiper-button-next {
    right: 2rem;
}


// Lineas
.swiper-pagination-bullets {
    bottom: 0 !important;
    text-align: left !important;
    padding: 1.5rem 2rem;

    .swiper-pagination-bullet {
        background-color: white;
        opacity: 1;
        width: 1.5rem;
        height: .25rem;
        margin: 0 .375rem;
        border-radius: 1rem;
        transition: all .5s cubic-bezier(.67,.06,.4,1);

        &.swiper-pagination-bullet-active {
            opacity: 1;
            width: 4rem;
            background-color: $primary-color;
        }
    }
    
    @include breakpoint(medium) {
        .swiper-pagination-bullet {
            width: 2rem;
            height: .375rem;
            margin: 0 .5rem;
        }
    }
}
