
/* WhatsApp */

.whatsapp-widget {
    position: fixed;
    z-index: 101;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transform: scale(.8);
    transition: all .3s ease-out;

    .bubble {
        position: absolute;
        z-index: 1;
        top: -85px;
        right: -10px;
        width: 160px;
        height: 70px;
        background: url(/img/whatsap-bubble.svg);
        background-repeat: no-repeat;
        font-size: .75rem;
        color: black;
        padding: .5rem 1rem;
        letter-spacing: -.35px;
        font-weight: 500;
    }
}

.whatsapp-widget.show {
    opacity: 1;
    transform: scale(1);
}

.whatsapp-widget a {
    transition: all .15s ease-out;
}

.whatsapp-widget a:hover {
    transform: scale(1.1);
}

.whatsapp-widget a img {
    width: 60px;
}